.oneDayOnePerson{
  display:block;
  width:960px;
  margin: 0 auto;
  font-family:"Monaco";
  }
  .header{
    height:64px;
    display:block;
  }
    p{
      display:inline-block;
      padding-top:20px;
      font-size:18px;
    }
    a{
      display:inline-block;
      left:600px;
      text-decoration:none;
      position:relative;
    }
    .op-group{
      font-size:12px;
      display:block;
    }
      p{
        font-size:14px;
        padding:0;
        margin:0;
        display:inline-block;
      }
  .info-container{
    position:relative;
    top:100px;
    width:700px;
    height:300px;
    margin:0 auto;
    display:block;
  }
    .time-label{
      font-size:40px;
      font-weight:bold;
      width:220px;
      height:60px;
      position:relative;
      display:inline-block;
      vertical-align:top;
    }
    #asrtext{
      vertical-align:top;
      overflow-x:hidden;
      overflow-y:hidden;
      margin-left:200px;
      display:inline-block;
      position:relative;
      font-size:12px;
      width:200px;
      height:140px;
      white-space:pre-wrap;
    }
  .oneDayOnePerson-div{
    position:relative;
  }
