<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About - Insight into Rock/ラックの紹介</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{url_for('static',filename='assets/js/ie/html5shiv.js')}}"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/main.css')}}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{url_for('static',filename='assets/css/ie8.css')}}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{url_for('static',filename='assets/css/ie9.css')}}" /><![endif]-->

		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<!--[if lte IE 8]><script src="{{url_for('static',filename='assets/js/ie/respond.min.js')}}"></script><![endif]-->
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Insight into Rock</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/j-rock">Listen</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>About</h2>
					</header>

					<a href="#" class="image fit"><img src="{{url_for('static',filename='images/rad1.jpg')}}" alt="" /></a>
					<p>这次的作业我做了一个音乐相关的数字媒体资源管理系统，用来分享我比较喜欢的两种摇滚的类型J-Rock（日摇）和Britpop（英伦摇滚）。</p>
					<p>对于Britpop我接触的时间大概是在高一的时候，由Radiohead（现在已成为我非常喜欢的一个乐队）领进门。RH的歌的旋律有种迷幻的感觉，主唱的嗓音也很迷人。同时歌词也有对于战争、对于灾难、对于人生的思考，充斥着乐队对美好生活的希冀。通过RH的歌我也了解Britpop这种音乐风格，也了解了比如Blur、Muse、Coldplay等杰出的乐队。</p>
					<p>而对于J-Rock的了解是在大二开始辅修日语之后，在同学的“安利”下去听了Radwimps的几首歌，从此Rad成为我最喜欢的J-Rock乐队。Rad的歌几乎全由主唱野田洋次郎一个人作词作曲，有多种曲风的变换。而洋次郎的每首歌的歌词都如同一首诗，包含他对于生死的思考。他拥护绝对的生，反对一时的死，却又反对永恒的生。积极的生与消极的死的对照出现在Rad的作品中，发人深思。而通过Rad我也了解到许多优秀的日摇乐队，比如ONE OK ROCK、BUMP OF CHICKEN、世界の終わり等乐队，而这些乐队的歌，也会出现在本音乐资源系统中。</p>
					<p>鉴于大家对Britpop和J-Rock这两种音乐风格或是说摇滚不太了解，我希望通过这个网站来引导大家走进这两种音乐。若是能就此入坑，那更好不过了。;)</p>
					<p>By 王肖翰</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; <a href="http://www.cad.zju.edu.cn/home/zhx/DAM/2015/doku.php">DAM Course</a>.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
						<li>ReDesign: <a href="http://ousyoukan.lofter.com/">Xiaohan Wang</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>